<div id="credits" class="z-10 my-8 w-full text-sm">
	<p>
		Created by <a
			href="https://joedoescoding.com"
			class="underline transition-colors hover:text-purple-700">@joedoescoding.com</a
		>
	</p>
	<!-- <p>
		Open-source illustrations by <a
			href="https://undraw.co"
			class="underline transition-colors hover:text-purple-700">https://undraw.co</a
		>
	</p> -->
</div>
