---
import blueskyLogo from '../../assets/bluesky-logo.svg'
---

<!-- make this container a wrapper or a layout?? -->
<section id="hero" class="my-4 flex flex-col items-center">
	<a href="https://bsky.app/"
		><img src={blueskyLogo.src} width="50" height="48" alt="Astro Homepage" class="mb-2" /></a
	>
	<p class="text-sky-700 md:text-xl">Bsky Follower Statistics</p>
	<h1 class="py-2 text-center text-3xl md:text-5xl">
		See your influence amongst every Bluesky user
	</h1>
</section>
