---
import astroLogo from '../../assets/astro.svg'
import blueskyLogo from '../../assets/bluesky-logo.svg'
import background from '../../assets/background.svg'
import { BlueskyHandleForm } from './BlueskyHandleForm'
---

<!-- make this container a wrapper or a layout?? -->
<div
	id="welcome-section"
	class="bg-green-20 isolate flex aspect-video w-full max-w-5xl flex-col items-center justify-center gap-4 rounded-xl bg-purple-50 bg-white/20 p-8 shadow-lg ring-1 ring-black/5"
>
	<!-- cool svg background goes here  -->
	<img
		id="background"
		class="fixed left-0 top-0 z-[-1] h-full w-full blur-3xl"
		src={background.src}
		alt=""
		fetchpriority="high"
	/>
	<section id="hero" class="flex flex-col items-center">
		<a href="https://astro.build"
			><img
				src={blueskyLogo.src}
				width="50"
				height="48"
				alt="Astro Homepage"
				class="mb-2"
			/></a
		>
		<h1 class="font-heading font-bold">Bsky Follower Statistics</h1>
		<p class="text-lg">See your relationship with every user on Bluesky! (Work in progress!)</p>
	</section>

	<BlueskyHandleForm />
</div>
<div id="credits" class="z-10 my-8">
	<p>
		Created by <a
			href="https://joedoescoding.com"
			class="underline transition-colors hover:text-purple-700">@joedoescoding.com</a
		>
	</p>
</div>
